.settings/org.eclipse.m2e.core.prefs
*.classpath
.settings/.jsdtscope
*.project
.settings/org.eclipse.jdt.core.prefs
*.class
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.pluralsight/ride_tracker/pom.xml
.springBeans
.settings/org.eclipse.wst.jsdt.ui.superType.name
*.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.project.facet.core.xml
target/classes/log4j.properties
target/m2e-wtp/web-resources/META-INF/maven/com.pluralsight/ride_tracker/pom.properties
/target/
ride_tracker.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_2_4_RELEASE.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_30.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_30.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_30.xml
.idea/libraries/Maven__mysql_mysql_connector_java_6_0_5.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_5_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_5_0.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/artifacts/ride_tracker_war_exploded.xml
.idea/artifacts/ride_tracker_war.xml
/.idea/dataSources/205bd2b4-6755-40e3-aa85-0a468dca32f0.xml
/.idea/dataSources.xml
/.idea/dataSources/205bd2b4-6755-40e3-aa85-0a468dca32f0/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/sqldialects.xml
